{
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "semi": false,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "bracketSpacing": false,
    "tabWidth": 3,
    "printWidth": 120
}
