@use 'partials/fonts' as fonts;
@use 'partials/colors' as colors;

.article-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    opacity: 0;
    @include fonts.font-acme();
    @include fonts.font-size(25px);
    a {
        img {
            border-radius: 15px;
            border: 5px solid colors.$dark-blue;
            width: 50vw;
            max-width: 50vw;
            max-height: 35vh;
            filter: drop-shadow(6px 5px 4px colors.$base);
        }
    }
    div {
        padding-bottom: 7px;
        border-bottom: 5px groove colors.$base;
        border-radius: 2px;
        text-overflow: ellipsis;
        width: max-content;
    }
    transition: all 1s ease;
}
