@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;

.mini-article-list {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    padding-top: 15px;
    overflow-y: auto;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.83);
    // border: 1px solid white;
    border-radius: 3px;
    @include fonts.font-acme();
    @include fonts.font-size(20px);
    transition: 0.5s ease;

    letter-spacing: 2px;
    a,
    a:visited {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: colors.$base;
    }
}
