@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;

.mini-article-list {
    display: none;
    position: fixed;
    z-index: 10;
    // padding-top: 80px;
    // margin-top: 100px;
    left: 5%;
    right: 5%;
    top: 2%;
    bottom: 2%;
    min-width: 90%;
    min-height: 90%;
    overflow-y: auto;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.83);
    border: 1px solid white;
    border-radius: 3px;
    @include fonts.font-acme();
    @include fonts.font-size(20px);

    letter-spacing: 2px;
    a,
    a:visited {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: colors.$base;
    }
}
