@use 'partials/fonts' as fonts;

.article-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    @include fonts.font-acme();
    @include fonts.font-size(25px);
    a {
        img {
            border-radius: 15px;
            width: 50vw;
            height: 40vh;
        }
    }
    div {
        padding-bottom: 7px;
    }
}
