@use 'partials/fonts' as fonts;
@use 'partials/buttons';
@use 'partials/helpers';

.checkbox-container {
    @include fonts.font-acme();
    @include fonts.font-size(40px);
    @include helpers.flex-column(center);
    margin-top: 15%;
    form {
        @include helpers.flex-column(flex-start);
        margin-left: -45%;
        margin-top: 10%;
        label {
            padding-bottom: 10px;
            @include fonts.font-size(18px);
        }
        .checkbox {
            padding-left: 7px;
            vertical-align: text-bottom;
        }
        #topics-submit {
            @include buttons.submit();
            position: fixed;
            bottom: 0%;
            right: 25%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
}
@media only screen and (min-width: 2000px) {
}
