@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: end;
  color: colors.$mid-blue;
  @include fonts.font-size(15px);
  @include fonts.font-marker();

  a,
  a:visited {
    color: colors.$mid-blue;
    text-decoration: none;
  }
}
#about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  a {
    padding-right: 15px;
  }
}
