@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;
@use "partials/helpers" as helper;

footer {
  @include helper.flex-row(center);
  align-self: end;
  @include fonts.font-size(15px);
  @include fonts.font-marker();
  color: colors.$light-blue;
  letter-spacing: 5px;
  a,
  a:visited {
    color: colors.$light-blue;
    text-decoration: none;
    cursor: pointer;
    padding-right: 15px;
  }
}
