@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: end;
  color: colors.$light-blue;

  @include fonts.font-size(15px);
  @include fonts.font-marker();
  padding-bottom: 10px;
  letter-spacing: 1px;

  a,
  a:visited {
    color: colors.$light-blue;
    text-decoration: none;
    cursor: pointer;
  }
}
#about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-image: url("../img/wave.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 10%;

  a,
  a:visited {
    padding-right: 15px;
    // color: colors.$light-blue;
  }
}

#powered-by {
  img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    vertical-align: middle;
  }
  background-image: url("../img/wave.svg");
  background-repeat: repeat-y;
  background-position: 25%;
  background-size: 20%;
}
#icons-by {
  background-image: url("../img/wave.svg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: 15%;
}
