@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;

header {
  div {
    // position: relative;
    @include fonts.font-size(130px);
    letter-spacing: 5px;

    a,
    a:visited {
      color: colors.$light-blue;
      text-decoration: none;
    }
  }

  #title-S {
    @include fonts.font-size(150px);
    @include fonts.font-dancing();
  }
  #title-l {
    @include fonts.font-galada();
  }
  #title-i {
    @include fonts.font-flower();
  }
  #title-d {
    @include fonts.font-flower();
  }
  #title-e {
    @include fonts.font-acme();
  }
  #title-N {
    @include fonts.font-size(150px);
    @include fonts.font-dancing();
  }
  #title-w {
    @include fonts.font-satisfy();
  }
  #title-s {
    @include fonts.font-marker();
  }
}
