@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;

header {
  div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  a,
  a:visited {
    color: colors.$light-blue;
    text-decoration: none;
  }

  #title {
    letter-spacing: 5px;
    @include fonts.font-size(70px);
    @include fonts.font-marker();
  }
  #sub-title {
    margin-left: 20%;
    @include fonts.font-satisfy();
    @include fonts.font-size(20px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
}
@media only screen and (min-width: 2000px) {
}
