* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-areas: "headicon . nav" "middle middle middle";
  // grid-column-gap: 30px;
  justify-items: stretch;
  // align-items: center;
  // justify-content: center;
  // align-content: center;
  // grid-auto-rows: minmax(10px, auto);
  margin: 0;
}
