@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;

#slide-hero {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  // align-content: center;
  // border: 1px solid purple;
  @include fonts.font-size(50px);
  @include fonts.font-dancing();
  a,
  a:visited {
    color: colors.$base;
    text-decoration: none;
  }
}
