@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;
@use "partials/helpers" as helper;

#slide-hero {
  @include helper.flex-row(center);
  @include fonts.font-size(70px);
  @include fonts.font-dancing();
  a,
  a:visited {
    color: colors.$base;
    text-decoration: none;
  }
  img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    vertical-align: middle;
    filter: hue-rotate(30deg);
  }
}
