@use 'partials/colors' as colors;
@use 'partials/submitButton' as buttons;

.menu-container {
    position: fixed;
    top: 10px;
    bottom: 0;
    left: 93%;
    right: 0;
    height: min-content;

    img {
        width: 50px;
        height: 50px;
        transform: rotateY(180deg);
        transition: 0.5s ease-in-out;
    }
}

.menu-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    position: fixed;
    top: 70px;
    bottom: 0;
    left: 90%;
    right: 0;
    opacity: 0;
    // width: max-content;
    height: min-content;
    transition: 0.5s ease;

    div {
        @include buttons.menuButton();
        margin-top: 15px;
    }
}
.menu-container:hover .menu-content {
    opacity: 1;
}
.menu-container:hover #menu-slide {
    transform: rotateY(0deg);
}
