@use 'partials/colors' as colors;
@use 'partials/submitButton' as buttons;
@use 'partials/fonts' as fonts;

.menu-container {
    position: fixed;
    top: 10px;
    bottom: 0;
    left: 93%;
    right: 0;
    height: min-content;

    img {
        width: 50px;
        height: 50px;
        transform: rotateY(180deg);
        transition: 0.5s ease-in-out;
    }
}

.menu-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    position: fixed;
    top: 70px;
    bottom: 0;
    left: 90%;
    right: 0;
    opacity: 0;
    // width: max-content;
    height: min-content;
    transition: 0.5s ease;

    div {
        @include buttons.menuButton();
        margin-top: 15px;
    }
}
.menu-container:hover .menu-content {
    opacity: 1;
}
.menu-container:hover #menu-slide {
    transform: rotateY(0deg);
}
.mini-article-list {
    display: none;
    position: fixed;
    z-index: 10;
    // padding-top: 80px;
    // margin-top: 100px;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    min-width: 90%;
    min-height: 50%;
    overflow-y: auto;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.83);
    @include fonts.font-acme();
    letter-spacing: 2px;
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
    }
    .close:hover {
        color: red;
    }
    a,
    a:visited {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: colors.$base;
    }
}
