@use 'partials/colors' as colors;
@use 'partials/buttons';
@use 'partials/fonts' as fonts;

.menu-container {
    position: fixed;
    top: 10px;
    bottom: 0;
    left: 93%;
    right: 0;
    height: min-content;

    img {
        width: 50px;
        height: 50px;
        transform: rotateY(180deg);
        transition: 0.5s ease-in-out;
    }
}
.menu-container:hover .menu-content {
    opacity: 1;
}
.menu-container:hover #menu-slide {
    transform: rotateY(0deg);
}

.menu-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    position: fixed;
    top: 70px;
    bottom: 0;
    left: 90%;
    right: 0;
    opacity: 0;
    // width: max-content;
    height: min-content;
    transition: 0.5s ease;

    div {
        @include buttons.menuButton();
        margin-top: 15px;
    }
}

.options-warning {
    display: none;
    position: fixed;
    z-index: 10;
    min-width: 100%;
    min-height: 100%;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.83);
    @include fonts.font-acme();
    @include fonts.font-size(30px);
    letter-spacing: 2px;
    button {
        @include buttons.menuButton();
        color: white;
        margin: 10px;
    }
    button:hover {
        font-size: 25px;
        transition: 0.2s ease;
    }
    #options-yes {
        background-color: green;
    }
    #options-no {
        background-color: red;
    }
}
.close {
    position: absolute;
    top: 15px;
    right: 100px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.close:hover {
    color: red;
}
