@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;
@use 'partials/submitButton' as buttons;

.radio-container {
    @include fonts.font-acme();
    @include fonts.font-size(70px);

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        label {
            display: block;
            padding: 10px;
            @include fonts.font-size(25px);
        }
        .radio-button {
            cursor: pointer;
            // padding-left: 10px;
            width: 18px;
            height: 18px;
            margin-left: 10px;
            vertical-align: baseline;
            top: -2px;
        }
        .submit {
            @include buttons.submit();
        }
    }
}
