@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;
@use 'partials/buttons';

.radio-container {
    @include fonts.font-acme();
    @include fonts.font-size(50px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;

    form {
        label {
            display: span;
            padding: 10px;
            @include fonts.font-size(20px);
        }
        .radio-button {
            cursor: pointer;
            // padding-left: 10px;
            width: 18px;
            height: 18px;
            margin-left: 10px;
            vertical-align: baseline;
            top: -2px;
        }
        .submit {
            @include buttons.submit();
        }
    }
}
