@use 'partials/colors' as colors;
@use 'partials/fonts' as fonts;
@use 'partials/buttons';

.radio-container {
    @include fonts.font-acme();
    @include fonts.font-size(50px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;

    form {
        label {
            display: span;
            padding: 10px;
            @include fonts.font-size(25px);
        }
        .radio-button {
            cursor: pointer;
            // padding-left: 10px;
            width: 18px;
            height: 18px;
            margin-left: 10px;
            vertical-align: baseline;
            top: -2px;
        }
        .submit {
            @include buttons.submit();
        }
    }
}
@media only screen and (max-width: 768px) and (max-height: 850px) {
    .radio-container {
        margin-bottom: 0px;
        @include fonts.font-size(45px);
        form label {
            @include fonts.font-size(20px);
        }
    }
}
@media only screen and (max-width: 425px) and (max-height: 850px) {
    .radio-container {
        @include fonts.font-size(35px);
        form {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: auto;
            width: 100vw;
            margin-left: 2%;
            .radio-button {
                width: 15px;
                height: 15px;
                margin-left: 25px;
                vertical-align: top;
            }
            label {
                @include fonts.font-size(16px);
            }
        }
    }
}
@media only screen and (min-width: 2560px) and (min-height: 1500px) {
    .radio-container {
        margin-bottom: 30%;
    }
}

@media only screen and (max-width: 375px) and (max-height: 850px) {
    .radio-container {
        @include fonts.font-size(32px);
    }
}
@media only screen and (max-width: 320px) and (max-height: 850px) {
    .radio-container {
        @include fonts.font-size(27px);
    }
}
